// project colors ======================
$font-color: #777;
$link-color: #51ddfc;
$theme-color: #58e1c1;
$button-font: #fff;
$button-error: #e4757a;
$button-success: #63cc82;
$button-warning: #fd7856;
$button-info: #927bc1;

// grid colors =========================
$col-1: #927bc1;
$col-2: #fd7856;
$col-3: #deb2ee;
$col-4: #7ee6fd;
$col-5: #88d9a0;
$col-6: #4da2bb;
$col-7: #ec9fa3;
$col-8: #fd9f85;
$col-9: #e4757a;
$col-10:#63cc82;
$col-11:#51ddfc;
$col-12:#80e8d1;
// base ================================
$line-h: 1.45em;
$font-style: 'Lato', sans-serif;
$max-width: 1400px;

// breakpoints =========================
$break: 768px;


